@import url('https://fonts.googleapis.com/css?family=Saira');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Chathura');


body {
  background-color: #5f6063;
  font-family: "Saira", sans-serif;
}

section {
  background-color: #ccbcaf;
  width: 1200px;
  height: 800px;
  margin: 40px auto 40px auto;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}

article#left {
  width: 800px;
  height: 800px;
  background-color: #fffff0;
  float: left;
}

div#about-me {
  display: block;
  width: 700px;
  margin: 30px auto;
}

div#about-me h2 {
  text-align: center;
  font-family: "Chathura", sans-serif;
  margin-top: 0px;
  font-size: 70px;
  color: #90877d;
}

h1 {
  font-size: 55px;
  margin: auto 0px;
}

div#name h1 {
  color: #fffff0;
}

div#name {
  background-color: #b7ab9f;
  width: 300px;
  height: 100px;
  text-align: right;
  margin-top: 98.5px;
  float: right;
  -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%);
}

article#right {
  display: block;
  width: 400px;
  height: 800px;
  background-color: #b7ab9f;
  float: left;
}

#profileImg img {
  display: block;
  background-color: #fffff0;
  width: 250px;
  margin: 30px auto auto auto;
  box-shadow: 0.5px 1px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

div#surname h1 {
  color: #b7ab9f;
}

div#surname {
  background-color: #fffff0;
  width: 300px;
  height: 100px;
  text-align: left;
  margin-top: 152px;
  float: left;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.social {
  position: relative;
  margin: 110px auto auto 60px;
  float: left;
}

/*.social a img {
  display: block;
  width: 40px;
  margin: 10px;
  float: left;

}*/

.social a#linkedin img {
  display: block;
  width: 40px;
  margin: 10px 20px 10px auto;
  float: left;
  padding: 25px;
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/LinkedIn-black.png");
}

.social a#linkedin img:hover {
background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/LinkedIn-color.png");
-webkit-transition: .5s;
    transition: .5s;

}

.social a#codepen {
  display: block;
  width: 40px;
  margin: 10px 20px 10px auto;
  float: left;
  padding: 25px;
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Codepen-black.png");
}

.social a#codepen:hover {
background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Codepen-color.png");
-webkit-transition: .5s;
    transition: .5s;
}

.social a#github {
  display: block;
  width: 40px;
  margin: 10px 20px 10px auto;
  float: left;
  padding: 25px;
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Github-black.png");
}

.social a#github:hover {
background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Github-color.png");
-webkit-transition: .5s;
    transition: .5s;
}

.social a#facebook {
  display: block;
  width: 40px;
  margin: 10px 20px 10px auto;
  float: left;
  padding: 25px;
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Facebook-black.png");
}

.social a#facebook:hover {
background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Facebook-color.png");
-webkit-transition: .5s;
    transition: .5s;
}

.social a#instagram {
  display: block;
  width: 40px;
  margin: 10px 20px 10px auto;
  float: left;
  padding: 25px;
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Instagram-black.png");
}

.social a#instagram:hover {
background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Instagram-color.png");
-webkit-transition: .5s;
    transition: .5s;
}

.social a#twitter {
  display: block;
  width: 40px;
  margin: 10px 20px 10px auto;
  float: left;
  padding: 25px;
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Twitter-black.png");
}

.social a#twitter:hover {
background-image: url("https://raw.githubusercontent.com/selspa/selspa.github.io/master/img/icons/Twitter-color.png");
-webkit-transition: .5s;
    transition: .5s;
}
