@import url('https://fonts.googleapis.com/css?family=Saira');

body {
  background-color: #4077d1;
  font-family: "Saira", sans-serif;
}

section#main {
  background-color: #699ef4;
  width: 90%;
  height: 800px;
  margin: 50px auto 0px auto;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
